@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Montserrat:wght@400;500&family=Open+Sans:wght@800&family=Oswald:wght@500&family=Roboto+Mono:wght@100&display=swap");
* {
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

/* ------------------ Aca comienza el Navbar ------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

header {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

header .logo-bch-escritorio {
  width: 250px;
}

.navbar-list {
  display: flex;
  gap: 30px;
}

.navbar {
  display: flex;
}

/* Logo del Menu Hamburgesa */
.navbar img {
  display: none;
  width: 50px;
}

/* Logo principal que aparece en dispositivos moviles */
.logo-principal .logo-bch-responsive {
  display: none;
  width: 110px;
}

/* Ocultando el checkbox */
#toggle-menu {
  display: none;
}

.underline-hover {
  color: white;
  font-size: 110%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

.underline-hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 50%;
  background: linear-gradient(to right, rgb(23, 219, 151), rgb(133, 214, 183));
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.underline-hover:hover::before {
  width: 100%;
}

.underline-hover:hover {
  background: linear-gradient(to right, rgb(23, 219, 151), rgb(133, 214, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*------------------ Aca comienza el Main ------------------*/

main {
  background-color: rgb(10, 10, 10);
}

#porque-bch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bitcoin-cash {
  color: rgb(23, 219, 151);
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 400px;
}

.contain-image-blockchain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.07;
}

.contain-image-blockchain img {
  width: 1200px;
}

/* ---------- Que es Bitcoin Cash ---------- */

#que-es-bitcoin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#que-es-bitcoin h2 {
  text-align: center;
  font-size: 35px;
  color: rgb(23, 219, 151);
  padding-bottom: 40px;
}

#que-es-bitcoin img {
  opacity: 0.03;
  width: 900px;
  position: absolute;
}

.contenedor-explicacion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgb(23, 219, 151);
  padding: 35px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  width: 60%;
}

.explicacion-bitcoin {
  width: 100%;
  text-align: justify;
  font-weight: 600;
  color: rgb(207, 226, 216);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

/* ---------- Beneficios ---------- */

#ventajas {
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.que-obtendras {
  width: 70%;
  display: flex;
  justify-content: center;
  color: rgb(23, 219, 151);
  text-align: center;
}

.beneficios {
  width: 1000px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ventaja,
.ventaja-3 {
  display: flex;
  width: 33%;
  background-color: rgb(8, 15, 10);
  color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  padding: 25px;
}

.ventaja {
  gap: 40px;
}

.ventaja-3 {
  gap: 28px;
}

.ventaja:hover {
  background-color: rgb(23, 219, 151);
  color: rgb(0, 0, 0);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  -webkit-transition: background 0.4s, color 0.4s;
  -moz-transition: background 0.4s, color 0.4s;
  -ms-transition: background 0.4s, color 0.4s;
  -o-transition: background 0.4s, color 0.4s;
}

.ventaja-3:hover {
  background-color: rgb(23, 219, 151);
  color: rgb(0, 0, 0);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  -webkit-transition: background 0.4s, color 0.4s;
  -moz-transition: background 0.4s, color 0.4s;
  -ms-transition: background 0.4s, color 0.4s;
  -o-transition: background 0.4s, color 0.4s;
}

/* ---------- Como usarlo ---------- */

#como-usarlo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}

.container h2 {
  color: rgb(23, 219, 151);
  padding: 40px 0 40px 0;
}

.explicacion-de-uso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.explicacion-texto {
  width: 100%;
  text-align: justify;
  font-weight: 600;
  color: rgb(207, 226, 216);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.explicacion-texto b {
  font-style: italic;
  font-weight: 500;
  color: rgb(140, 233, 191);
}

.explicacion-texto a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(23, 219, 151);
}

.explicacion-de-imagen {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contenedor-imagen {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contenedor-imagen img {
  width: 350px;
}

.explicacion-de-imagen p {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-align: justify;
}

.explicacion-de-imagen b {
  color: rgb(255, 74, 74);
}

/* ---------- Donde usarlo ---------- */

#donde-conseguirlo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comprar {
  color: rgb(23, 219, 151);
  padding: 150px 0 40px 0;
}

.donde-lo-consigo {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.peer-to-peer img {
  width: 80px;
}

.opcion {
  width: 50%;
  display: flex;
  background-color: rgb(58, 168, 130);
  color: rgb(0, 0, 0);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  padding: 25px;
}

.opcion {
  gap: 40px;
}

.opcion:hover {
  background-color: rgb(8, 15, 10);
  color: rgb(255, 255, 255);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
  -webkit-transition: background 0.4s, color 0.4s;
  -moz-transition: background 0.4s, color 0.4s;
  -ms-transition: background 0.4s, color 0.4s;
  -o-transition: background 0.4s, color 0.4s;
}

/* ---------- Comercios que aceptan ---------- */
.comercios {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}

.comercios h2 {
  color: rgb(23, 219, 151);
  text-align: center;
}

.comercios img {
  width: 800px;
}

.accede-aca {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: rgb(5, 58, 33);
  color: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 20px;
  font-weight: 600;
}

.accede-aca:hover {
  background-color: rgb(23, 219, 151);
  color: rgb(2, 31, 17);
}

/* ---------- Recursos ---------- */

#recursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 100px 0;
  gap: 75px;
}

.seccion-recursos {
  color: rgb(23, 219, 151);
  font-size: 20px;
}

.imagen-recursos img {
  width: 400px;
}

.links-recursos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.caja-padre-recursos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.caja-hija-recursos {
  color: rgb(2, 44, 16);
  font-size: 18px;
  font-family: "Bebas Neue";
  background-color: #0ac18e;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 300px;
  text-align: center;
}

.caja-hija-recursos:hover {
  background-color: #021f0d;
  color: rgb(255, 255, 255);
}

/* ---------- footer ---------- */

footer {
  padding: 35px;
  width: 100%;
  background-color: rgb(3, 2, 5);
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-family: "Pacifico", cursive;
  border-top: 1px solid rgb(16, 16, 17);
  font-style: oblique;
}

footer p {
  background: linear-gradient(to right, #30ff97, rgb(225, 235, 231));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  text-align: center;
}

/* ---------- Responsive ---------- */

@media (max-width: 1300px) {
  header {
    padding: 20px 30px;
  }

  #que-es-bitcoin {
    height: 140vh;
  }

  .beneficios {
    width: 50%;
    flex-wrap: wrap;
  }

  .ventaja,
  .ventaja-3 {
    width: auto;
  }
}

@media (max-width: 1175px) {
   header {
    padding-left: 15px;
  }
  
  .navbar ul {
    background: rgb(0, 0, 0);
    height: calc(60vh - 100px);
    position: absolute;
    top: 90px;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    width: 100%;
    padding: 35px 0;
    display: grid;
    place-items: center;
    clip-path: circle(0% at top right);
    transition: clip-path 0.5s;
    -webkit-transition: clip-path 0.5s;
    -moz-transition: clip-path 0.5s;
    -ms-transition: clip-path 0.5s;
    -o-transition: clip-path 0.5s;
}

  .navbar img {
    display: block;
  }

  #toggle-menu:checked ~ .navbar-list {
    display: flex;
    clip-path: circle(150% at top right);
  }

  .contain-image-blockchain img {
    display: none;
  }

  .imagen-whitepaper {
    display: none;
  }

  .bitcoin-cash {
    position: static;
    font-size: 40px;
  }

  #que-es-bitcoin {
    position: static;
    justify-content: initial;
    height: auto;
  }

  #que-es-bitcoin h2 {
    font-size: 40px;
  }

  #que-es-bitcoin img {
    position: static;
  }

  .logo-bch-escritorio {
    display: none;
  }

  .logo-principal .logo-bch-responsive {
    display: block;
  }

  .contenedor-explicacion {
    width: 60%;
    border: none;
    padding: 0px;
  }

  .explicacion-bitcoin {
    font-size: 16px;
    border: 2px solid rgb(23, 219, 151);
    padding: 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }

  .beneficios {
    width: 60%;
    flex-wrap: wrap;
  }

  .container {
    width: 80%;
  }

  .explicacion-de-uso {
    width: 100%;
  }

  .contenedor-imagen img {
    width: 80%;
  }

  .donde-lo-consigo {
    flex-wrap: wrap;
  }

  .opcion {
    width: 80%;
  }

  #donde-usarlo {
    display: flex;
    justify-content: center;
  }

  .comercios {
    width: 90%;
  }

  .comercios img {
    width: 100%;
  }

  .imagen-recursos img {
    display: none;
  }

  .links-recursos {
    gap: 0;
  }

  .caja-padre-recursos {
    width: 100vw;
  }

  footer p {
    font-size: 20px;
  }
}

@media (max-width: 740px) {
  .contenedor-explicacion {
    width: 85%;
    border: none;
    padding: 0px;
  }

  .beneficios {
    width: 100%;
    flex-wrap: wrap;
  }
}


