* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.5% 0%;
  padding-right: 20%;
  padding-left: 5%;
}

.image {
  width: 100px;
}

.ul {
  display: flex;
  gap: 20%;
  list-style: none;
}

.underline-hover {
  color: white;
  font-size: 130%;
  display: flex;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

.underline-hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 50%;
  background: linear-gradient(to right, rgb(148, 148, 197), rgb(213, 213, 231));
  transition: width 0.2s ease-out;
  transform: translateX(-50%);
}

.underline-hover:hover::before {
  width: 100%;
}

.underline-hover:hover {
  background: linear-gradient(to right, rgb(148, 148, 197), rgb(213, 213, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hamburger {
  display: none;
  color: white;
  font-size: 200%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  width: 100vw;
  
  background-color: rgb(227, 231, 231);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.presentacion {
  display: flex;
  width: 1000px;
  height: 500px;
  color: rgb(2, 5, 7);
  padding-bottom: 100px;
  gap: 50px;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.perfil img {
  height: 90%;
  border-radius: 10px;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 2%;
  width: 70%;
  color: rgb(3, 14, 29);
}

.descripcion h1 {
  font-style: oblique;
  font-size: 30px;
  background: linear-gradient(to right, rgb(56, 56, 95), rgb(4, 4, 46));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.accion ul {
  display: flex;
  gap: 30px;
}

.contactame,
.mas-informacion {
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(216, 224, 231);
  padding: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.mas-informacion {
  width: 160px;
}

.mas-informacion:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.contactame:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.introduccion-servicios {
  background-color: black;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduccion-servicios img {
  width: 600px;
}

.servicios-descripcion {
  width: 800px;
  
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(193, 202, 209);
  text-align: center;
  padding-top: 50px;
  font-style: oblique;
}

#section-2 {
  width: 100vw;
 
  background-color: rgb(227, 231, 231);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.que-obtendras {
  width: 70%;
  display: flex;
  justify-content: center;
}

.beneficios {
  width: 1000px;
 
  display: flex;
  justify-content: center;
  gap: 30px;
}

.beneficio, .beneficio3 {
  width: 33%;
  display: flex;
  height: 100%;
  background-color: rgb(231, 237, 238);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
}

.beneficio {
  gap: 40px;
}

.beneficio3 {
  gap: 28px;
}

.beneficio:hover {
  background-color: rgb(11, 28, 37);
  color: rgb(249, 251, 253);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
}

.beneficio3:hover {
  background-color: rgb(11, 28, 37);
  color: rgb(249, 251, 253);
  transition: background 0.4s, color 0.4s;
  cursor: pointer;
}

.imagen-beneficio {
  width: 30%;
}

.imagen-beneficio img {
  width: 80%;
}

#section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: black;
  padding: 50px;
}

.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-contacto {
  width: 20%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-contacto img {
  width: 100%;
}

.contacto-info {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: rgb(246, 247, 248);
}

.nombre {
  font-size: 20px;
}

.contact {
  font-size: 30px;
  text-decoration: underline;
}

.redes {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.instagram,
.linkdin,
.telefono {
  width: 120px;
  display: flex;
  gap: 10px;
}

.link-redes {
  color: white;
}

.instagram img {
  width: 15%;
}

.linkdin img {
  width: 17%;
  border-radius: 2px;
}

.telefono img {
  width: 16%;
  border-radius: 3px;
}

footer {
  padding: 35px;
  width: 100vw;
  background-color: rgb(3, 2, 5);
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  border-top: 1px solid rgb(16, 16, 17);
  font-style: oblique;
}

footer p {
  background: linear-gradient(to right, #0896f5, rgb(206, 208, 235));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}




